In [1]:
class Person:
    options = {
        'M': 'Male',
        'F': 'Female',
    }
    def __init__(self, first_name, last_name, gender):
        self.first_name = first_name
        self.last_name = last_name
        self._gender = None
        self.gender = gender

    @property
    def full_name(self):
        return f'{self.first_name} {self.last_name}'
    
    @property
    def gender(self):
        return self.options[self._gender]
    
    @gender.setter
    def gender(self, value):
        value = value.upper()
        if value != 'M' and value != 'F':
            raise ValueError('gender must be M or F')
            
        self._gender = value

In [4]:
p = Person('Davit', 'Tovmasyan', 'M')

print(p.gender)
print(p.full_name)

Male
Davit Tovmasyan

In [5]:
p = Person('Davit', 'Tovmasyan', 'M')

p.gender = 'A'

ValueError: gender must be M or F

In [30]:
from datetime import date, datetime


class Employee(Person):
    date_format = '%d.%m.%Y'

    def __init__(self, fname, lname, gender, trial_passed, 
                 salary, j_date, l_date=None):
        
        super().__init__(fname, lname, gender)

        self.trial_passed = trial_passed.lower() == 'yes'
        self.salary = int(salary)

        self.join_date = datetime.strptime(j_date, self.date_format).date()
        if l_date:
            self.leave_date = datetime.strptime(l_date, self.date_format).date()
        else:
            self.leave_date = None
            
        self._email = None
            
    @property
    def email(self):
        if self._email:
            return self._email

        return f'{self.first_name.lower()}.{self.last_name.lower()}@company.com'
            
    @email.setter
    def email(self, value):
        # validate email using regular expression
#         if validate_email(value):
#             self._email = value

        self._email = value
            
#     @staticmethod
#     def validate_email(value):
#         # return true or false
#         pass
    
    def employement_duration_in_days(self):
        if not self.leave_date:
            diff = date.today() - self.join_date
        else:
            diff = self.leave_date - self.join_date
        
        return diff.days
    
    @property
    def employement_duration(self):
        duration = self.employement_duration_in_days()

        if duration < 180:
            return 'Just Started'
        elif duration < 365:
            return 'Almost a year'
        else:
            return f'{(duration + 180) // 365} years'
            
        # if duration < 6 months return 'Just Started'
        # elif duration < 12 months return 'Almost a year'
        # else return 'X years'

In [35]:
emp = Employee('Davit', 'T', 'M', 
               trial_passed='YeS', salary='200000', j_date='22.01.2021')

# readability counts
# explicit is better than implicit

In [36]:
emp.employement_duration

'Just Started'

In [29]:
emp.employement_duration_in_days()

365

In [22]:
help(emp.employement_duration_in_days())

Help on timedelta object:

class timedelta(builtins.object)
 |  Difference between two datetime values.
 |
 |  timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
 |
 |  All arguments are optional and default to 0.
 |  Arguments may be integers or floats, and may be positive or negative.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  total_seconds(...)
 |      Total seconds in the duration.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  days
 |      Number of days.
 |
 |  microseconds
 |      Number of microseconds (>= 0 and less than 1 second).
 |
 |  seconds
 |      Number of seconds (>= 0 and less than 1 day).
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.timedelta(days=999999999, seconds=86399, microseconds=9...
 |
 |  min = datetime.timedelta(days=-999999999)
 |
 |  resolution = datetime.timedelta(microseconds=1)

In [18]:
emp.email

'davit.t@company.com'

In [8]:
emp.full_name

'Davit T'

In [9]:
emp.salary

200000

In [10]:
emp.join_date

datetime.date(2018, 1, 22)

In [11]:
emp.trial_passed

True

In [12]:
emp.leave_date

In [ ]:
# emp = Employee('Davit', 'T', 'M', 'YeS', '200000', '22.01.2018', None, 'abc')
# emp = Employee('Davit', 'T', 'M', 'YeS', '200000', '22.01.2018', something='abc')

In [ ]:
# load row into Employee() and get an instance of Employee class

In [39]:
with open('/Users/davittovmasyan/Desktop/employees.clean.csv') as f:
    for line in f.readlines():
        print(line)
        print(type(line))
        print(line.split(','))
        break

First Name,Last Name,Trial Passed,Join Date,Leave Date,Gender,Salary

<class 'str'>
['First Name', 'Last Name', 'Trial Passed', 'Join Date', 'Leave Date', 'Gender', 'Salary\n']

In [42]:
import csv 

with open('/Users/davittovmasyan/Desktop/employees.clean.csv') as f:
    reader = csv.reader(f)
    print(reader)
    
    for row in reader:
        print(row)
        break

<_csv.reader object at 0x7ff0f502af90>
['First Name', 'Last Name', 'Trial Passed', 'Join Date', 'Leave Date', 'Gender', 'Salary']

In [43]:
import csv 

with open('/Users/davittovmasyan/Desktop/employees.clean.csv') as f:
    reader = csv.DictReader(f)
    
    for row in reader:
        print(row)
        break

{'First Name': 'Wini', 'Last Name': 'Woodrooffe', 'Trial Passed': 'No', 'Join Date': '06.03.2016', 'Leave Date': '15.08.2016', 'Gender': 'F', 'Salary': '136129'}

In [44]:
import csv 

def employees():
    with open('/Users/davittovmasyan/Desktop/employees.clean.csv') as f:
        reader = csv.DictReader(f)

        for row in reader:
            yield Employee(
                row['First Name'],
                row['Last Name'],
                row['Gender'],
                row['Trial Passed'],
                row['Salary'],
                row['Join Date'],
                row['Leave Date'],
            )

In [50]:
my_iter = employees()

print(next(my_iter).full_name)

Wini Woodrooffe

In [51]:
# average salary

total_salary = 0
total_count = 0

for employee in employees():
    total_count += 1
    total_salary += employee.salary

In [52]:
total_salary/total_count

552831.007

In [54]:
emp_with_the_highest_salary = None

for employee in employees():
    if emp_with_the_highest_salary is None:
        emp_with_the_highest_salary = employee
        continue
        
    if employee.salary > emp_with_the_highest_salary.salary:
        emp_with_the_highest_salary = employee

print(emp_with_the_highest_salary.full_name, emp_with_the_highest_salary.salary)

John Petrello 997885

In [55]:
i_employee = employees()

emp_with_the_highest_salary = next(i_employee)

for employee in i_employee:
    if employee.salary > emp_with_the_highest_salary.salary:
        emp_with_the_highest_salary = employee

print(emp_with_the_highest_salary.full_name, emp_with_the_highest_salary.salary)

John Petrello 997885

In [57]:
e = max(employees(), key=lambda emp: emp.salary)

In [59]:
print(e.full_name, e.salary)

John Petrello 997885

In [60]:
total_duration = 0
total_count = 0


for emp in employees():
    total_duration += emp.employement_duration_in_days()
    total_count += 1
    
print(total_duration / total_count / 12)

81.74291666666666

In [62]:
total_count = 0
male_count = 0

for emp in employees():
    total_count += 1
    
    if emp.gender == 'Male':
        male_count += 1
        
female_count = total_count - male_count

print(male_count)
print(female_count)

482
518

In [65]:
print('M:', round((male_count/total_count) * 100), '%')
print('F:', round((female_count/total_count) * 100), '%')

M: 48 %
F: 52 %

In [66]:
print('M:', '|' * round((male_count/total_count) * 100))
print('F:', '|' * round((female_count/total_count) * 100))

M: ||||||||||||||||||||||||||||||||||||||||||||||||
F: ||||||||||||||||||||||||||||||||||||||||||||||||||||

In [67]:
# 5 common names with counts

names = {}

for emp in employees():
    if emp.first_name in names.keys():
        names[emp.first_name] += 1
    else:
        names[emp.first_name] = 1

In [74]:
names['Vanya'] += 3
names['Daria'] += 2

sorted_names = sorted(names, key=lambda k: names[k], reverse=True)[:5]

{name: names[name] for name in sorted_names}

{'Vanya': 5, 'Daria': 4, 'Blondie': 2, 'Hermy': 2, 'Clemens': 2}

In [75]:
from collections import defaultdict

In [76]:
d = defaultdict(int)


d['some key']

0

In [77]:
d = defaultdict(int)


d['some key'] = 20

d['some key']

20

In [78]:
d = defaultdict(str)

d['some key']

''

In [79]:
d = defaultdict(list)

d['some key']

[]

In [ ]:
names = defaultdict(int)

for emp in employees():
    names[emp.first_name] += 1

In [80]:
defaultdict(lambda: 10)

int()

0

In [81]:
list()

[]

In [82]:
str()

''

In [ ]:
defaultdict()

In [ ]:
import csv

In [ ]:
first = False
for row in reader:
    if not first:
        first = True
        continue
    
    p = Employee(
        row[]
    )
    
    break
    # code here

In [ ]:
next(reader)

for row in reader:        
    # code here